{% extends 'externals/base.html' %}
{% load widget_tweaks %}
{% block title %}Start a New Topic{% endblock %}
          {% block header %}
                   {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            <div class="container-fluid">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
                <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
                <li class="breadcrumb-item active">New topic</li>
            </div>
          {% endblock header %}

    {% block content %}
    <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
  <form method="post" novalidate>
    {% csrf_token %}

      {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}