{% extends 'base.html' %}

{% load crispy_forms_tags %}


          {% block header %}
                   {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            <div class="container-fluid">
              <h2 class="no-margin-bottom"> Admin Dashboard</h2>
            </div>
          {% endblock header %}

    {% block content %}
    <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
      <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'instructor:course_change_list' %}">My Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ course_name }}</li>
    </ol>
  </nav>

  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>

      </form>
    </div>
  </div>

{% endblock %}
